# PostgreSQL
POSTGRES_PASSWORD=postgres

# pgAdmin
PGADMIN_PASSWORD=admin

# Backend DB & JWT
DB_PASSWORD=postgres
JWT_SECRET=your_jwt_secret_change_this

# Hyperledger Explorer DB
EXPLORER_DB_PASSWORD=password

# Ngrok — dapatkan authtoken dari https://dashboard.ngrok.com
NGROK_AUTHTOKEN=your_ngrok_authtoken_here
